.container {
  display: grid;
  justify-content: center;
}

.PictureContainer,
.Picture {
  width: 200px;
  width: 200px;
}

input[type="submit"] {
  width: 100px;
  margin-left: 60px;
  margin-top: 13px;
}
